@{
    ViewData["Title"] = "Home Page";
}

<body>
<app-auth></app-auth>
<script src="~/js/client/runtime-es2015.js" type="module"></script>
<script src="~/js/client/runtime-es5.js" nomodule defer></script>
<script src="~/js/client/polyfills-es5.js" nomodule defer></script>
<script src="~/js/client/polyfills-es2015.js" type="module"></script>
<script src="~/js/client/styles-es2015.js" type="module"></script>
<script src="~/js/client/styles-es5.js" nomodule defer></script>
<script src="~/js/client/vendor-es2015.js" type="module"></script>
<script src="~/js/client/vendor-es5.js" nomodule defer></script>
<script src="~/js/client/main-es2015.js" type="module"></script>
<script src="~/js/client/main-es5.js" nomodule defer></script>
</body>
